.rolling-number-container {
   display: flex;
   width: 800px;
   margin: 0 auto;
   margin-top: 10rem;
   overflow: hidden;
}

.rollingNumber {
   display: flex;
   height: 64px;

   border: 1px solid black;
}

.slide {
   display: flex;
   flex-direction: column;
   transition: margin 2s;
}
.slide > span {
   font-size: 3rem;
}
.blank {
   width: 100vw;
   height: 1000px;
}

.roll-dot {
   line-height: 5.5rem;
}

.slide-wrapper {
   display: flex;
   justify-content: right;
}
