.rolling-number-container {
   display: flex;
   min-width: 30vw;
   margin: 0 auto;
   margin-top: 10rem;
   background-color: black;
}
.rollingNumber {
   display: flex;
   overflow: hidden;
   text-align: center;
   align-items: center;
   justify-content: center;
   min-width: 6rem;
   border-bottom: 1px solid black;
   color: white;
   margin-right: 10px;
   border-right: 1px solid rgba(255, 255, 255, 0.541);
}
.roll-slide {
   display: flex;
   flex-direction: column;
}

.roll-tail-text,
.roll-head-text,
.roll-dot,
.roll-num,
.roll-num-zero {
   font-size: 2rem;
}
.blank {
   width: 100vw;
   height: 1000px;
}
.roll-dot {
   opacity: 1;
}
