li {
  list-style: none;
}
button {
  border-radius: 50%;
  border: 0px;
  opacity: 0.6;
  width: 17px;
  height: 17px;
}
.carousel-container {
  max-width: 400px;
  overflow: hidden;
  margin: 0 auto;
}
.carousel-wrapper {
  display: flex;
  flex-direction: row;
  height: 300px;
  border: 1px solid black;
  padding: 0;
  transition: all 0.3s ease-out;
}

.item {
  width: 400px;
  height: 300px;
  object-fit: cover;
}
.description {
  margin-top: 30px;
  margin-left: 30px;
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  color: white;
}

.navigation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  box-sizing: content-box;
  margin: 0 auto;
  width: 250px;
  left: 0;
  right: 0;
  margin-top: -50px;
}
.dot-indicator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  width: 60%;
  align-items: center;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
}

.active {
  background-color: white;
}

.green {
  background-color: green;
}
.red {
  background-color: red;
}
.purple {
  background-color: purple;
}
.blue {
  background-color: blue;
}
.orange {
  background-color: orange;
}
